<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/login" method="post">
        <div>
            <label for="loginid">아이디</label>
            <input type="text" name="loginid">
        </div>
        <div>
            <label for="loginpw">비밀번호</label>
            <input type="password" name="loginpw">
        </div>
        <div>
            <input type="submit" value="로그인">
        </div>
    </form>
</div>
</body>
</html>